apiVersion: apps/v1
kind: Deployment
metadata:
  name: ping-pong
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ping-pong
  template:
    metadata:
      labels:
        app: ping-pong
    spec:
      volumes:
        - name: ping-pong-log
          persistentVolumeClaim:
            claimName: pv-claim
      containers:
        - name: ping-pong
          image: ykhaliuk/ping-pong
          volumeMounts:
            - name: ping-pong-log
              mountPath: /opt/app/logs
          env:
            - name: PORT
              value: "8080"
