apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: project
  name: todo-backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: todo-backend
  template:
    metadata:
      labels:
        app: todo-backend
    spec:
      containers:
        - name: todo-backend
          image: ykhaliuk/todo-backend
          env:
            - name: PORT
              value: "8080"
            - name: POSTGRES_DB
              valueFrom:
                configMapKeyRef:
                  name: todo-config
                  key: postgres_db
            - name: POSTGRES_PORT
              valueFrom:
                configMapKeyRef:
                  name: todo-config
                  key: postgres_port
            - name: POSTGRES_URL
              valueFrom:
                configMapKeyRef:
                  name: todo-config
                  key: postgres_url
            - name: POSTGRES_USER
              valueFrom:
                configMapKeyRef:
                  name: todo-config
                  key: postgres_user
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgres-password
                  key: postgres_password
