<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Project App</title>
</head>
<body>

<h1>The Project App</h1>

<img th:src="@{/images/image.jpeg}" alt="Image not found"/>

<form action="/todos" method="post">
    <label for="createTodoInput">Add new:</label>
    <input id="createTodoInput" maxlength="140" name="todo"/>
    <input type="submit" value="Create"/>
</form>

<h2>TODOs</h2>
<ul th:each="todo: ${todos}">
    <li th:text="${todo}"></li>
</ul>

<p>DevOps with Kubernetes 2025</p>

</body>
</html>
