spring:
  application:
    name: ping-pong
  datasource:
    url: jdbc:postgresql://{$POSTGRES_URL:localhost}:5432/mydb
    username: myuser
    password: mypassword
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

server:
  port: { $PORT:8080 }
